<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Gastos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main-container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='money_logo.png') }}" alt="Money Logo" class="logo">
        </div>

        <h1>Meus Gastos</h1>

        <table>
            <tr>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
            {% for gasto in gastos %}
                <tr>
                    <td>{{ gasto[1] }}</td>
                    <td>{{ gasto[2] }}</td>
                    <td>
                        <form method="post" action="{{ url_for('remover_gasto', gasto_id=gasto[0]) }}">
                            <button type="submit">Remover</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <p>Total: {{ total }}</p>

        <h2>Adicionar Gasto</h2>
        <form method="post" action="{{ url_for('adicionar_gasto') }}">
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <input type="text" name="descricao" required>
            </div>
            <div class="form-group">
                <label for="valor">Valor:</label>
                <input type="number" step="0.01" name="valor" required>
            </div>
            <div class="form-group">
                <button type="submit">Adicionar</button>
            </div>
        </form>
    </div>
</body>
</html>
